<div class="ui dimmer" [class.active]='loading'>
  <div class="ui text loader">Loading</div>
</div>

<div class="jumbotron bg-secondary text-center mt-4">
  <h1 class="display-4">Cases by Countries</h1>
  <label for="c" class="h3">Select Country</label>
  <select name="" class="form-control border border-primary" id="c" #input (change)='updateValues(input.value)'>
    <option value="{{country}}" *ngFor='let country of countries'>{{country}}</option>
  </select>
  <hr>
  <app-dashboard-card
    [totalConfirmed] = 'totalConfirmed'
    [totalActive] = 'totalActive'
    [totalRecovered] = 'totalRecovered'
    [totalDeaths] = 'totalDeaths'>
  </app-dashboard-card>
</div>

<div class="container">
  <google-chart
    [type]='chart.LineChart'
    [data]='dataTable'
    [height]='chart.height'
    [options]='chart.options'
    style="width: 100%">
  </google-chart>

  <table class="table text-black">
    <thead>
      <tr>
        <th>Date</th>
        <th>Cases</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of selectedCountryData">
        <td>{{ item.date | date }}</td>
        <td>{{ item.cases }}</td>
      </tr>
    </tbody>
  </table>
</div>


<footer class="mt-5 p-3 bg-primary text-center">
  Covid-19 Tracker &copy;
</footer>
